blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace; 
}
table {
    width: 100%;
}
