---
---

@import "minima";


$cherry-color: #8e1029; // Temple cherry?
$nice-grey: #585858; 

.site-title {
  color: $cherry-color;
  font-weight: 500;
  letter-spacing: -0.75px;
}

/*
.site-nav {
    float: left;
}
*/

table, th, td {
   border-collapse: collapse;
   border: 1px solid black;
   margin-left: 10%;
   margin-bottom: 5%;
   padding: 5px;
}
th {
   text-align: center;
}
td {
   text-align: left;
}
tr:nth-child(even) {background-color: #dcdcdc}


a {
  color: $cherry-color;
  text-decoration: none;

  &:visited {
    color: $cherry-color;
  }

  &:hover {
    text-decoration: underline;
  }
}

.post-meta {
    font-size:$base-font-size;
}

.post h1 {
    font-size: $base-font-size * 2;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.05px;
//    color: $cherry-color;
}
.post h2 {
    font-size: $base-font-size * 1.6;
    font-weight: 500;
    //text-decoration: underline;
    //color: $nice-grey;
}
.post h3 {
    font-size: $base-font-size * 1.2;
    font-weight: 500;
}

.post h4 {
    font-size: $base-font-size;
    margin-left: 3%;
    margin-top: 5%;
    font-weight: 600;
}

.post ul {
    list-style-type: disc;
    margin-bottom: 1%;
}

.home h1 {
    font-size: $base-font-size * 2;
    text-align: center;
    //color: $nice-grey;
    font-weight: 500;
    margin-bottom: 5%;
    letter-spacing: 0.7px;
}

.home h2 {
    font-size: $base-font-size * 1.2;
    font-weight: 500;
}

.post-link { 
    font-size: $base-font-size; // * 1.1;
}

.post-link-child { 
    font-size: $base-font-size;
    color: #2c2c2c;
}


.post-header { 
    margin-bottom: 7%;
}

li {
    list-style-type: lower-greek;// I AM SO COOL
}

.contact-list li {
    list-style-type: none;
    color: $cherry-color;
}
        
.post-list {
    margin-left: 8%;
    
}
 
.post-list-child {
    list-style-type: disc;
} 
.post-list li {
    margin-bottom: 1%;
    font-size: $base-font-size; // * 1.1;
}
  
  
  
  
  
  

  
  
  
