---
layout: default
---

<div class="home">

  <h1 class="page-heading">Biostatistics, Fall 2017</h1>
  <br>
  
  <h2 class="page-heading">Course Information</h2>

  <p> 
    <ul class="post-list">
        <li> <a href="{{ '/files/bio5312_fall2017_syllabus.pdf' | relative_url }}"> Link to syllabus </a> </li>
        <li> <a href="https://templeu.instructure.com/"> Link to Canvas Instructure </a> </li>
        <li> <a href="{{ './resources' | relative_url }}"> Helpful links and resources </a> </li>
    </ul>
  </p>


  <br>
  <br>
  <h2 class="page-heading">Course Schedule and Materials</h2>
  
  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.date | date: date_format }}:  {{ post.title | escape }} </a> 
      </li>
    {% endfor %}
  </ul>

  <br>
  <br>
  <h2 class="page-heading">Assignments</h2>
  
  <ul class="post-list">


      <li> Final Project (due 12/12/17 by 11:59 pm OR 12/19/17 by 7:45 pm) &nbsp <a href="{{ '/final_project/FinalProject.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/final_project/FinalProject.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <b> Read carefully: </b><a style=class="post-link-child" href="{{ '/final_project/Instructions.pdf' | relative_url }}"> Instructions </a> </li>
            <li> <a style=class="post-link-child" href="{{ '/final_project/EXAMPLE_FinalProject.Rmd' | relative_url }}"> Example Final Project, RMarkdown </a> </li>
            <li> <a style=class="post-link-child" href="{{ '/final_project/EXAMPLE_FinalProject.html' | relative_url }}"> Example Final Project, HTML </a> </li>
        </ul>
      </li> 
      
      <li> Homework 12 (due 11/28/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW12.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW12.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/lm_datasets/wine.csv' | relative_url }}"> Download <code>wine.csv</code> </a> </li>
            <li> <b>NOTE:</b> Throughout the assignment, consider "Cultivar" as categorical (i.e. remove it from PCA and clustering algorithms).</li>
        </ul>
      </li> 
      
      <li> Homework 11 (due 11/14/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW11.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW11.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/lm_datasets/bodyfat.csv' | relative_url }}"> Download <code>bodyfat.csv</code> </a> </li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/lm_datasets/mammogram.csv' | relative_url }}"> Download <code>mammogram.csv</code> </a> </li>
        </ul>
      </li> 
      
      <li> Homework 10 (due 11/7/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW10.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW10.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/lm_datasets/pima.csv' | relative_url }}"> Download <code>pima.csv</code> </a> </li>
        </ul>
      </li> 


      <li> Homework 9 (due 10/31/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW9.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW9.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/rowan.csv' | relative_url }}"> Download <code>rowan.csv</code> </a> </li>
        </ul>
      </li> 
      
      <li> Homework 8 (due 10/24/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW8.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW8.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> All datasets are included in this zip file: <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/homework8_datasets.zip' | relative_url }}"> Download <code>homework8_datasets.zip</code> </a> </li>
        </ul>
      </li> 


      <li> Homework 7 (due 10/17/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW7.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW7.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> All datasets are included in this zip file: <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/homework7_datasets.zip' | relative_url }}"> Download <code>homework7_datasets.zip</code> </a> </li>
        </ul>
      </li> 
            
      <li> Homework 6 (due 10/10/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW6.Rmd' | relative_url }}">  RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW6.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/sparrows.csv' | relative_url }}"> Download <code>sparrows.csv</code> </a> </li>
        </ul>
      </li> 
      
      <li> Homework 5 (due 10/03/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW5.Rmd' | relative_url }}"> RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW5.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/mammalian_life_history.csv' | relative_url }}"> Download <code>mammalian_life_history.csv</code> </a> </li>
        </ul>
      </li>

       <li> Homework 4 (due 9/26/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW4.Rmd' | relative_url }}"> RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW4.html' | relative_url }}"> HTML </a>
      </li>

       <li> Homework 3 (due 9/19/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW3.Rmd' | relative_url }}"> RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW3.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/damselfly_source.csv' | relative_url }}"> Download <code>damselfly_source.csv</code> </a> </li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/damselfly_size.csv' | relative_url }}"> Download <code>damselfly_size.csv</code> </a> </li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/biopsy.csv' | relative_url }}"> Download <code>biopsy.csv</code> </a> </li>
        </ul>
      </li>
            
      <li> Homework 2 (due 9/12/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW2.Rmd' | relative_url }}"> RMarkdown </a> &nbsp <a href="{{ '/homeworks/HW2.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/sparrows.csv' | relative_url }}"> Download <code>sparrows.csv</code> </a> </li>
        </ul>
      </li>

    <li> Homework 1 (due 9/5/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW1.pdf' | relative_url }}"> PDF </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/sparrows.csv' | relative_url }}"> Download <code>sparrows.csv</code> </a> </li>
        </ul>
      </li> 
  </ul>


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
