---
layout: default
---

<div class="home">

  <h1 class="page-heading">Biostatistics, Fall 2017</h1>
  <br>
  
  <h2 class="page-heading">Course Information</h2>

  <p> 
    <ul class="post-list">
        <li> <a href="{{ '/files/bio5312_fall2017_syllabus.pdf' | relative_url }}"> Link to syllabus </a> </li>
        <li> <a href="https://templeu.instructure.com/"> Link to Canvas Instructure </a> </li>
        <li> <a href="{{ './resources' | relative_url }}"> Helpful links and resources </a> </li>
    </ul>
  </p>


  <br>
  <br>
  <h2 class="page-heading">Course Schedule and Materials</h2>
  
  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.date | date: date_format }}:  {{ post.title | escape }} </a> 
      </li>
    {% endfor %}
  </ul>

  <br>
  <br>
  <h2 class="page-heading">Assignments</h2>
  
  <ul class="post-list">
      <li> Homework 1 (due 9/5/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW1.pdf' | relative_url }}"> PDF </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/sparrows.csv' | relative_url }}"> Download <code>sparrows.csv</code> </a> </li>
        </ul>
      </li> 

       <li> Homework 2 (due 9/12/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW2.Rmd' | relative_url }}"> Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW2.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/sparrows.csv' | relative_url }}"> Download <code>sparrows.csv</code> </a> </li>
        </ul>
      </li>


       <li> Homework 3 (due 9/19/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW3.Rmd' | relative_url }}"> Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW3.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/damselfly_source.csv' | relative_url }}"> Download <code>damselfly_source.csv</code> </a> </li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/damselfly_size.csv' | relative_url }}"> Download <code>damselfly_size.csv</code> </a> </li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/biopsy.csv' | relative_url }}"> Download <code>biopsy.csv</code> </a> </li>
        </ul>
      </li>
  
        <li> Homework 4 (due 9/26/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW4.Rmd' | relative_url }}"> Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW4.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <b> PLEASE SKIP PART III ON THIS ASSIGNMENT.</b> We will instead discuss this section in class on 9/26/17. <b>All students will receive full credit for this section</b> (i.e. submitted work for this section will not be graded).</li>
        </ul>
      </li>
        <li> Homework 5 (due 10/03/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW5.Rmd' | relative_url }}"> Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW5.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <b> Q5 Part2 refers to question 4, not question 2, for those of you who downloaded early.</b> </li>
            <li> <b> Cows are in the **family** Bovidae, not order.</b> </li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/mammalian_life_history.csv' | relative_url }}"> Download <code>mammalian_life_history.csv</code> </a> </li>
        </ul>
      </li>

      <li> Homework 6 (due 10/10/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW6.Rmd' | relative_url }}">  Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW6.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <i>[Correction 10/6 at 11:30 am]</i> Q4a Part2 should refer to young birds only: Test the hypothesis that <b>young birds</b> <del>that birds</del> survived the storm via random chance alone, i.e. 50% chance of survival.</li>
            <li> <i>Note</i> For Part 2, you may use any test we have learned in class.</li>
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/sparrows.csv' | relative_url }}"> Download <code>sparrows.csv</code> </a> </li>
        </ul>
      </li> 

      <li> Homework 7 (due 10/17/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW7.Rmd' | relative_url }}">  Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW7.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> All datasets are included in this zip file: <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/homework7_datasets.zip' | relative_url }}"> Download <code>homework7_datasets.zip</code> </a> </li>
        </ul>
      </li> 

      <li> Homework 8 (due 10/24/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW8.Rmd' | relative_url }}">  Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW8.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <b>[Correction 10/21 at 3:30 pm]</b> Question 1 should perform a one-directional test if __territorial__ (T) fish have higher GnRH levels.</li>
            <li> <b>[Corrections 10/22 at 5:45 pm]</b> The dataset `eyespans.csv` (now renamed) contains data for question #2.</li>
            <li> <b>[Corrections 10/22 at 8:30 pm]</b> HW versions downloaded before this time did not have the library `purrr` or `slipper` loaded. Please load these library if you require it in your downloaded HW version, or re-download the HW.</li>
            <li> All datasets are included in this zip file: <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/homework8_datasets.zip' | relative_url }}"> Download <code>homework8_datasets.zip</code> </a> </li>
        </ul>
      </li> 

      <li> Homework 8 (due 10/31/17 by 5:30 pm) &nbsp <a href="{{ '/homeworks/HW9.Rmd' | relative_url }}">  Rmarkdown </a> &nbsp <a href="{{ '/homeworks/HW9.html' | relative_url }}"> HTML </a>
        <ul class="post-list-child">
            <li> <a style="color:#8e8e8e; "class="post-link-child" href="{{ '/datasets/rowan.csv' | relative_url }}"> Download <code>rowan.csv</code> </a> </li>
        </ul>
      </li> 


  </ul>


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
